$primary: #5C35FF;
$secondary: #9D86FF;
$text-dark: #EEEEEE;
$text-light: #09051A;
$bg-primary: #09051A;
$bg-secondary: #140D32;

$wet-asphalt: #34495E;
$sun-flower: #F1C40F;
$emerald: #2ECC71;
$alizarin: #E74C3C;
$pomegranate: #C0392B;
$amethyst: #8E44AD;
